// File folder styles
.a-fileFolder {
  align-content: center;
  cursor: pointer;
  display: flex;
  width: 100%;

  .a-fileFolder__icon {
    display: flex;
    height: 2rem;
    margin: .5rem;
    width: 2rem;

    &.a-fileFolder__icon--open {
      fill: $blue;

      svg {
        fill: $blue;
      }
    }

    &.--is-hidden {
      display: none;
    }
  }

  .a-fileFolder__folder {
    font-weight: 400;
    margin: 1rem 0 0 0;
    padding: 0 0 0 .5rem;
  }
}